@{
    var instructorObject = ViewBag.Instructor;

}


<div class="modal fade" id="InstructorEdit" tabindex="-1" aria-labelledby="InstructorEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3ABEF9; color: white;">
                <h5 class="modal-title">Edit Admin Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="closebtn" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="InstructorEditForm" method="post" action="@Url.Action("UpdateInstructor","Instructor")">
                    <div class="mb-3">
                        <label for="InstructorNameEdit" class="form-label">Name:</label>
                        <input type="text" id="InstructorNameEdit" class="form-control" name="InstructorNameEdit" value="@instructorObject.InstructorName" autocomplete="off" />
                    </div>
                   
                    <div class="mb-3">
                        <label for="InstructorPasswordEdit" class="form-label">Password:</label>
                        <input type="password" id="InstructorPasswordEdit" class="form-control" name="InstructorPasswordEdit" value="@instructorObject.InstructorPassword" autocomplete="off" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="submit" form="InstructorEditForm" id="InstructorUpdateBtn" class="btn btn-warning">Update</button>
            </div>
        </div>
    </div>
</div>
