<div class="modal fade" id="InstructorEditMsgModal" tabindex="-1" aria-labelledby="InstructorEditMsgModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="InstructorEditMsgModalLabel">Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="closebtn" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="InstructorEditMsg"></p>
            </div>
        </div>
    </div>
</div>
